[Unit]
Description=Rating Service

[Service]
Type=forking
ExecStart=/home/ubuntu/prod/ratings/startup/start-service.sh

[Install]
WantedBy=multi-user.target